.font-link {
  font-family: 'Libre Franklin,Days One,Fredoka One', cursive;
}

.title{
  text-shadow: rgb(0 255 255) 0.92924px 0.206878px 0px, rgb(255 0 255) 0.67076px -0.306878px 0px;
  font-family: "Days One", sans-serif;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-align: center;
}

.desc{
  font-family: "Fredoka One", sans-serif;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: 300;
  text-align: center;
}

.gal_img{
  height: 160px;
  border-radius: 20px;
}

.ico_img{
  height: 160px;
  border-radius: 20px;
}

.f_img{
  height: 23vw;
}

.team_img{
  height: 160px;
  border-radius: 80px;
}

.text_wrap{

}

.who_img{
  height: 70px;
}

.foltxt{
  color: white;
  font-family: "Fredoka One", sans-serif;
  text-decoration: none;
  padding-top: 5%;
  font-size: 1.2rem;
}

.twtr{

background: url("./cc_twi.png");
margin-right: 10px;

}

#roadmap{
  
}

/* #cool_alien{
  padding-top: 0px;
} */

.dscrd{

background: url("./cc_disc.png");
margin-right: 10px;

}

.main-menu{

flex-basis: 70%;
padding-top: 4%;

}

.main_social{
  display: flex;
}

.main-section{ 
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  color: white;
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;
  background-color: black;
  height: auto;
}

.menu-cc{
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.menu-li{
  color: white;
  padding-top: 1%;
  font-size: 1.3em;
}

.main-bg{

  width: 50vw;
  background-position: center;
  background-size: cover;

}

.social-icons{

display: flex;
padding-top: 5%;
padding-right: 20px;
justify-content: end;

}

.main-title{

color: white;
width:"58vw";
height:"40vw";

}

.header{
  background: black;
  display: flex; 
  height: 100vh; 
  justify-content: space-between;
}

.discord-footer-logo{

  background-size: contain;
  height: 30px;
  width: 30px;
  background-position: 0px;
  background-repeat: no-repeat;
  background-image: url('4691356_discord_icon.svg');

}

.twitter-footer-logo{

  background-size: contain;
  height: 30px;
  width: 30px;
  background-position: 0px;
  padding-bottom: 30px;
  background-repeat: no-repeat;
  background-image: url('104501_twitter_bird_icon.svg');

}

.menu-content{
  padding-left: 29%;
}



/* --------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------- */


a{
  
  text-decoration: none;
  color:white;
  font-size: 0.8rem;
  font-style: italic;
  line-height: 1;
  font-family: Montserrat,sans-serif;

}

 .mint-btn.disabled{
  pointer-events: none;
 
} 

@media screen and (max-width: 429px) {

 

  .main-bg{
    display: none;
  }

  .gallery{
    flex-direction: column;
  }

  .header{
    height: 100vw;
  }

  .main-title{
    position: relative;
    left:20px;
    width: 83vw;
    height: 80vw;
  }

  .main_social{
    margin-top: 20px;
  }

  .gal_img{
    padding:20px;
    height: 200px
  }

  .who_img{
    height: 0px;
  }

  .who_gallery{
    height: 50px;
    flex-direction: column;
    padding-top: 100px;

  }

.team_gallery{
  padding-left: 25%;
  flex-direction: column;
}

.f_img{
  height: 80vw;
}

.menu-li{
  padding-left: 5%;
  padding-right: 5%;
}

}